<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @contract_start_date, local: true) do |f| %>

      <%= f.govuk_error_summary %>
      
      <%= f.govuk_date_field :contract_start_date, legend: { text: "Enter the start date of your contract", tag: "h1", size: "l" } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>