<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with(model: @visa, local: true) do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_select(
        :visa_type,
        visa_options,
        label: { text: t("applicants.visa.title"), tag: "h1", size: "l" },
        include_blank: true
        )%>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
