<h1>Dashboard#kpis</h1>
<p>Find me in app/views/dashboard/kpis.html.erb</p>

<div class="dashboard">
  <div class="kpi-widget">
    <h3 class="title">Title</h3>
    <p class="value">32</p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Title</h3>
    <p class="value">32</p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Title</h3>
    <p class="value">32</p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Title</h3>
    <p class="value">32</p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Title</h3>
    <p class="value">32</p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Title</h3>
    <p class="value">32</p>
  </div>
</div>
