<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">
      <%= govuk_link_to "Check full eligibility details for teachers.", "https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas#get-an-international-relocation-payment-irp-worth-10000", { target: "_blank" } %>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Check full eligibility details for trainees.", "https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees#get-an-international-relocation-payment-irp-worth-10000", { target: "_blank" } %>
    </p>

    <p class="govuk-body">
      For help, you can email us at
      <%= govuk_link_to("teach.inengland@education.gov.uk", "mailto:teach.inengland@education.gov.uk")%>.
    </p>
  </div>
</div>
