<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      Thank you for completing the international relocation payment application
      form
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">
     Your details have been submitted and will now be checked by the
      Department for Education and the Home Office.
    </p>

    <p class="govuk-body">
      We will let you know when we have completed our checks. If you are
      eligible for the international relocation payment, you’ll receive the
      money around the end of your first school term of employment.
    </p>

    <p class="govuk-body">
      For help, you can email us at
      <%= govuk_link_to("teach.inengland@education.gov.uk", "mailto:teach.inengland@education.gov.uk")%>.
    </p>
  </div>
</div>
