<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong><%= @applicant.application.urn.value %></strong>
          </div>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You have successfully submitted your international relocation payment application form and will receive a
          confirmation email from the Department for Education (Dfe).
        </p>

        <p class="govuk-body">
          Keep this safe, as you will need it if your application is successful.
        </p>

        <p class="govuk-body">
          We'll let you know the outcome of your application as soon as we've checked your eligibility. If you are eligible,
          you will be paid around the end of your first term of training or employment.
        </p>

        <p class="govuk-body">
          For help, you can email us at
          <%= govuk_link_to("teach.inengland@education.gov.uk", "mailto:teach.inengland@education.gov.uk") %>.
        </p>
      </div>
    </div>
  </main>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
  </div>
</div>
