<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Get an International Relocation Payment</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">
      This is a landing page telling you a little bit about the service.
    </p>

    <p class="govuk-body">
      This is some information about the eligibility criteria, required documentation,
      school timetable, DPIA and data sharing procedures:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        Criteria 1
      </li>
      <li>
        Criteria 2
      </li>
      <li>
        Criteria 3
      </li>
    </ul>

    <p class="govuk-body">
      <%= govuk_link_to("Get started", new_applicants_school_eligibility_path, { class: "govuk-button" })%>
    </p>
  </div>
</div>
