<h2 class="govuk-heading-m">Home office report</h2>
<p class="govuk-body">Downloads a CSV with the applicants with Initial Checks passed and with uncompleted checks from Home Office</p>

<p>
  <%= link_to "Download", report_path(:home_office), class: "govuk-button" %>
</p>


