<h1>Totals</h1>
<div class="dashboard">
  <div class="kpi-widget">
    <h3 class="title">Applications</h3>
    <p class="value"><%= @kpi_stats.total_applications %></p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Approved</h3>
    <p class="value"><%= @kpi_stats.total_approvals %></p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Paid</h3>
    <p class="value"><%= @kpi_stats.total_paid %></p>
  </div>
  <div class="kpi-widget">
    <h3 class="title">Rejected</h3>
    <p class="value"><%= @kpi_stats.total_rejections %></p>
  </div>
</div>
