.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; /* Adjust this for your desired gap between columns */
}

.kpi-widget {
  background-color: #1d70b8;
  border-radius: 5px;
  padding: 15px;
  text-align: center;

  .title {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .subtitle {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .value {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 0;
    margin: 0;
  }

  .value-small {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 0;
    margin: 0;
  }

  .kpi-table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    color: #fff;

    th {
      font-weight: bold;
      padding: 5px;
    }

    td {
      padding: 5px;
      font-size: 20px;
    }
  }
}

.applicants-table {
  font-size: 15px;

  .govuk-table__head {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0.3px 0 #b1b4b6;
  }

  th {
    vertical-align: middle;
    text-align: center;
  }

  td:not(:nth-child(-n + 2)) {
    width: 120px;
  }
  td {
    vertical-align: middle;
  }
}
